<?xml version="1.0" encoding="utf-8" ?>
<configuration>		
	<appSettings>
		<!-- Internal configuration -->
		<add key="Mode" value="" />
		
		<!-- Game settings -->
		<add key="WindowTitle" value="Physics in a bottle" />
		<add key="WindowWidth" value="1280" />
		<add key="WindowHeight" value="720" />

		<!-- Game logic config -->
		<add key="ParticlesPerView" value="100" />
		<add key="ParticleCriticalSizeValue" value="10" />

		<!-- Others -->
		<add key="SaveFilePath" value="" />
	</appSettings>
</configuration>